* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("/assets/pen.png") 3 43, auto;
  overflow: hidden;
}
#page {
  position: relative;
  width: auto;
}
.row {
  width: 9vh;
  height: 81vh;
  cursor: pointer;
  z-index: 0.2;
  margin: auto;
  align-items: center;
}
.option {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  cursor: pointer;
  right: 1em;
  margin: 8px;
  background-color: blanchedalmond;
  cursor: pointer;
}

#write_btn {
  background-color: brown;
}

#select_thickness {
  height: 40px;
  width: 40px;
  align-self: center;
  cursor: pointer;
}
.eraser {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  margin-top: 30px;
  cursor: pointer;
}
.round {
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(231, 10, 10);
  margin-top: 30px;
  cursor: pointer;
}
.colour_dots {
  z-index: 1;
  height: 62vh;
  width: 8vh;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
}
.btn {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: chartreuse;
  cursor: pointer;
}
#bgcolor {
  cursor: pointer;
}
